* {
    box-sizing: border-box;
}

/* body / achtergrond */
body {
    font-family: Arial;
    padding: 10px;
    background: #515151;
}

/* Header / Text */
.header {
    padding: 30px;
    text-align: center;
    background: #aeaeae;
}

.header h1 {
    font-size: 50px;
}

/* Navigatiebar DropDown */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

/* foto's */

.img_1 {
    width: 80%;
    padding: 20%;
}

/* media links / div */
.card {
    background-color: #aeaeae;
    padding: 20px;
    margin-top: 20px;
}

.div{
    margin-top: 25px;
    margin-left: 33%;
    margin-right: 24%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 5px outset black;


}

/* resize dives */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}